{% extends 'base.html' %}
{% block conteudo %}

<form method="POST" class="card">

<label>Unidade</label>
<select name="unidade" required>
    <option value="">Selecione</option>
    <option value="BEL">BEL</option>
    <option value="GRU">GRU</option>
    <option value="CWB">CWB</option>
    <option value="MAO">MAO</option>
   

</select>

<label>Evento</label>
<select name="evento" required>
    <option value="ENTRADA">ENTRADA</option>
    <option value="SAIDA">SAÍDA</option>
</select>

<label>Motorista</label>
<input type="text" name="motorista" required>

<label>Cavalo Mecânico/Caminhão</label>

<select
    name="cavalo"
    id="cavalo"
    class="form-control"
    required>

    <option value="">Selecione uma placa...</option>

    {% for placa in placas %}
        <option
            value="{{ placa['placa'] }}"
            {% if registro and registro['cavalo'] == placa['placa'] %}
                selected
            {% endif %}
        >
            {{ placa['placa'] }}
        </option>
    {% endfor %}

</select>

<label>KM do Cavalo</label>
<input type="text" name="km">

<label>Tipo de Conjunto</label>
<select name="tipo_conjunto" id="tipo" onchange="ajustarCampos()" required>
    <option value="">Selecione</option>
    <option value="BITREM">BITREM</option>
    <option value="LS">LS</option>
</select>

<div id="campo-placa1">
    <label>Placa 1</label>

    <select
        name="placa1"
        id="placa1"
        class="form-control">

        <option value="">Selecione...</option>

        {% for placa in placas %}
            <option
                value="{{ placa['placa'] }}"
                {% if registro and registro['placa1'] == placa['placa'] %}
                    selected
                {% endif %}
            >
                {{ placa['placa'] }}
            </option>
        {% endfor %}

    </select>
</div>

<div id="campo-placa2">
    <label>Placa 2</label>

    <select
        name="placa2"
        id="placa2"
        class="form-control">

        <option value="">Selecione...</option>

        {% for placa in placas %}
            <option
                value="{{ placa['placa'] }}"
                {% if registro and registro['placa2'] == placa['placa'] %}
                    selected
                {% endif %}
            >
                {{ placa['placa'] }}
            </option>
        {% endfor %}

    </select>
</div>

<div id="campo-lacre1">
    <label>Lacre 1</label>
    <input type="text" name="lacre1">
</div>

<div id="campo-lacre2">
    <label>Lacre 2</label>
    <input type="text" name="lacre2">
</div>

<div class="mb-3">
    <label>Data e Hora</label>
    <input type="datetime-local" name="data_hora" class="form-control"
        value="{{ registro.data_hora[:16] if registro and registro.data_hora else '' }}">
</div>



<label>Tipo de Operação</label>
<select name="operacao" required>
    <option value="">Selecione</option>
    <option value="CARREGAR">Carregar</option>
    <option value="ENTREGA">Entrega</option>
    <option value="MANUTENCAO">Manutenção</option>
    <option value="FIM_VIAGEM">Fim de viagem</option>
    <option value="ABASTECIMENTO">Abastecimento</option>
</select>

<label>Status</label>
<select name="status" required>
    <option value="">Selecione</option>
    <option value="CARREGADO">Carregado</option>
    <option value="VAZIO">Vazio</option>
</select>


<label>Destino / Operação</label>
<input type="text" name="destino" required>

<label>Responsável Portaria</label>
<input type="text" name="responsavel" required>

<button class="btn btn-primario">Salvar</button>

</form>

<script>
function ajustarCampos() {

    let tipo = document.getElementById("tipo").value;

    if (tipo === "BITREM") {

        campo("campo-placa2", true);
        campo("campo-lacre2", true);
        campo("campo-lacre1", true);

    } else {

        // LS
        campo("campo-placa2", false);
        campo("campo-lacre2", false);
        campo("campo-lacre1", true);

    }
}

function campo(id, mostrar) {
    document.getElementById(id).style.display = mostrar ? "block" : "none";
}

// Executa quando a página abre
window.onload = ajustarCampos;
</script>
{% endblock %}
