{% extends 'base.html' %}

{% block conteudo %}

<form action="/exportar" method="GET" class="filtro-exportar">

    <div class="campo-data">
        <label>Data Inicial</label>
        <input type="date" name="inicio" required>
    </div>

    <div class="campo-data">
        <label>Data Final</label>
        <input type="date" name="fim" required>
    </div>

    <button type="submit" class="btn-relatorio">
        📊 Exportar Excel
    </button>

</form>

<div class="acoes">
    <a href="/novo" class="btn btn-primario">+ Novo Registro</a>
    <a href="/relatorio" class="btn btn-secundario">📊 Relatório Diário</a>
    <a href="/dashboard" class="btn btn-dark">📊 Dashboard</a>
</div>

<div class="tabela-wrapper">
<table>
    <tr>
        <th>ID</th>
        <th>Evento</th>
        <th>Data/Hora</th>

        {% if session.perfil == 'ADMIN' %}
        <th>Porteiro</th>
        {% endif %}

        <th>Placa</th>
        <th>Destino</th>
        <th>Ações</th>
    </tr>

    {% for r in dados %}
    <tr>
        <td>{{ r[0] }}</td>
        <td>{{ r[2] }}</td>
        <td>{{ r[3] }}</td>

        {% if session.perfil == 'ADMIN' %}
        <td>{{ r['nome_porteiro'] }}</td>
        {% endif %}

        <td>{{ r[8] }}</td>
        <td>{{ r[12] }}</td>
        <td class="acoes">
            <a href="/editar/{{ r[0] }}" class="btn-editar">Editar</a>
            <a href="/excluir/{{ r[0] }}"
               class="btn-excluir"
               onclick="return confirm('Deseja excluir este registro?')">
               Excluir
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
